{% extends 'main/base.html' %}

{% block title%}
Contacts
{% endblock %}

{% block content %}
    <style type="text/css">
   BODY {
    background: url("https://i.ibb.co/ZgYg2yt/contact-us-gcdf37cbbc-1920.jpg") no-repeat;
    background-size: 100%
   }
    </style>
    <h2>My contacts:</h2>
    <div style="margin-top: 50px">
        <div style="font-size:20px">
            <p><a href="mailto:yuriykonyukh@gmail.com">E-mail</a></p>
            <p><a href="https://www.linkedin.com/in/yuriykonyukh/">LinkedIn</a></p>
            <p><a href="https://github.com/YuriyKonyukh">Github</a></p>
        </div>
    </div>
{% endblock %}

