{% extends 'main/base.html' %}

{% block title%}
Django projects
{% endblock %}

{% block content %}
    <style type="text/css">
    BODY {
    background: url("https://i.ibb.co/yNxCZby/office-g64f2f1533-1920.jpg") no-repeat;
    background-size: 100%
    }
    </style>
    <h2>Here you can watch my Django projects:</h2>
    <div style="font-size:30px">
    <p style="margin-top: 50px"><a href="https://github.com/YuriyKonyukh/Bank_ApplicationCP_FINAL">Bank Application</a></p>
    <!--<p><a href="#">reserved</a></p>-->
    </div>
{% endblock %}